@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
section {
  min-height: 100vh;
  .sec-1 {
  }
}
.creative-portfolio {
  .navbar-logo {
    height: 65px;
    width: 65px;
  }
  .navbtns {
    border-radius: 10%;
  }
  .btn-navbar,
  .btn-category {
    font-size: medium;
  }
  .intro-header {
    font-size: 90px;
  }
  .intro-image {
    width: 600px;
    height: 600px;
    border-radius: 50%;
  }
  .carousel-container {
    .carousel-graphic {
      border-radius: 15px;
      width: 500px;
      height: 500px;
    }
  }
  .text-container {
    .content-text {
      font-size: large;
    }
  }
  .my-card {
    width: 300px;
    height: 400px;
  }
}

/* Add animation styles */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Apply animation to desired elements */
.intro-header {
  animation: fadeIn 1s ease-in;
}
